/*
    brand color
*/
$brands: (
  'bc-w': whitesmoke,
  'bc-b': cornflowerblue
) !default;

@function brand-color($bc: 'bc-w') {
  @return map-get($brands, $bc);
}

/*
    heading
*/
@for $i from 1 to 6 {
  h#{$i} {
    text-align: center;
    color: brand-color('bc-b');
    padding: 0;
    margin: 0;
  }
}

$breakpoints: (
  mobile: 'screen and (max-width: 800px)'
) !default;

@mixin bp($device: 'mobile') {
  @media #{map-get($breakpoints, $device)} {
    @content;
  }
}

.col-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

@for $i from 1 to 6 {
  .col-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
    gap: 15px;
    @include bp() {
      grid-template-columns: 1fr;
    }
  }
}

.img {
  &__fill {
    width: 100%;
  }
}
